cache
cache/*
sami/*
sami.*
vendor
vendor/*
*.token
composer.lock
index.php
.idea
config.yaml
commands/Karma/store/*.json
tests/Fixtures/karma.tmp.json
tests/Fixtures/karma.create-store.tmp.json
/config.Denis.Geek.soerbot.yaml
/config.Soer.Devs.questions.yaml
